= form_for @club do |f|
  - if @club.errors.any?
    #error_explanation
      %h2= "#{pluralize(@club.errors.count, "error")} prohibited this club from being saved:"
      %ul
        - @club.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :officestreet
    = f.text_field :officestreet
  .field
    = f.label :officepostalcode
    = f.text_field :officepostalcode
  .field
    = f.label :officetown
    = f.text_field :officetown
  .field
    = f.label :stadiumstreet
    = f.text_field :stadiumstreet
  .field
    = f.label :stadiumpostalcode
    = f.text_field :stadiumpostalcode
  .field
    = f.label :stadiumtown
    = f.text_field :stadiumtown
  .field
    = f.label :homepage
    = f.text_field :homepage
  .field
    = f.label :crest
    = f.text_field :crest
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
