%h1 Listing clubs

%table
  %tr
    %th Name
    %th Officestreet
    %th Officepostalcode
    %th Officetown
    %th Stadiumstreet
    %th Stadiumpostalcode
    %th Stadiumtown
    %th Homepage
    %th Crest
    %th Description
    %th
    %th
    %th

  - @clubs.each do |club|
    %tr
      %td= club.name
      %td= club.officestreet
      %td= club.officepostalcode
      %td= club.officetown
      %td= club.stadiumstreet
      %td= club.stadiumpostalcode
      %td= club.stadiumtown
      %td= club.homepage
      %td= club.crest
      %td= club.description
      %td= link_to 'Show', club
      %td= link_to 'Edit', edit_club_path(club)
      %td= link_to 'Destroy', club, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Club', new_club_path
