- provide(:title, t('.teams'))

.teams
  .teams-form
    .table-responsive
      %table.table.table-hover.table-condensed
        %tr
          %th.row-team-name Name
          %th.row-team-class Class
          %th.row-team-edit
        - @hometeams.each do |team|
          %tr
            %td.row-team-name= link_to team.hometeamname, team
            %td.row-team-class= "#{t(team.isfemale ? '.female' : '.male')} #{localized_football_classes[team.class_id]}"
            %td.row-league-edit
              = link_to edit_team_path(team) do
                %span.glyphicon.glyphicon-edit

%br

= link_to 'New Team', new_team_path
