- provide(:title, t('.teams'))

.teams
  .head
    = t '.teams'
    .right
      = render 'nav', action: :index
  .teams-form
    .table-responsive
      %table.table.table-hover.table-condensed
        - cur_years = nil
        - @league_teams.each do |lt|
          - team = lt.team
          - league = lt.league
          - if cur_years.nil? || !cur_years.eql?(year league)
            - cur_years = year league
            %tr
              %th{colspan: 6}
                = cur_years
          %tr
            %td.row-team-name= link_to team.hometeamname, team
            %td.row-team-league= link_to league.name, league
            %td.row-team-class= "#{t(team.isfemale ? '.female' : '.male')}, #{localized_football_classes[team.class_id]}"
            %td.row-team-show
              = link_to team do
                = fa_icon 'caret-square-o-right'
            %td.row-team-edit
              = link_to edit_team_path(team) do
                = fa_icon 'edit'
            %td.row-team-remove
              = link_to team, method: :delete, data: { confirm: t('.confirm') } do
                = fa_icon 'remove'

    %br

    = render 'nav', action: :index
