= simple_form_for @league do |f|
  .field
    = f.input :name
  .field.datetimerange
    = f.input :start, as: :date_picker, wrapper: :ranged_datetime
    = f.input :end, as: :date_picker, wrapper: :ranged_datetime
  .field
    = f.input :class_id, collection: localized_football_classes_select.reverse, selected: (@league[:class_id] || STD_FOOTBALL_CLASS)
  .field
    = f.input :iscup
  .field
    = f.input :isfemale
  .field
    = f.input :noreferee
  .actions
    = f.button :submit
