= simple_form_for @league do |f|
  .head
    .span
      = title_text
      .right
        = render 'nav', action: action
  .field.form-group
    = f.input :name, label: t('.name'), input_html: { class: 'form-control' }
  .field
    = f.label :start, t('.timeperiod')
    .row.datetimerange
      = f.input :start, label: false, as: :date_picker, wrapper: :ranged_datetime
      = f.input :end, label: false, as: :date_picker, wrapper: :ranged_datetime
  .field.form-group
    = f.input :class_id, label: t('.class'), collection: localized_football_classes_select.reverse, selected: (@league[:class_id] || STD_FOOTBALL_CLASS), input_html: { class: 'form-control' }
  .field.form-group
    = f.check_box :iscup, input_html: { class: 'form-control' }
    = f.label :iscup, t('.iscup')
    %span.horisep20px
    = f.check_box :isfemale, input_html: { class: 'form-control' }
    = f.label :isfemale, t('.isfemale')
    %span.horisep20px
    = f.check_box :noreferee, input_html: { class: 'form-control' }
    = f.label :noreferee, t('.noreferee')

- if action.eql? :edit
  %hr
  %h3= t '.league_teams'
  - @league.league_teams.includes(:team).order('teams.name').each do |lt|
    = render 'league_teams/row', league_team: lt

  %h4= t '.add_league_team'
  = simple_form_for LeagueTeam.new do |f|
    .form-group.input-group
      = f.hidden_field :league_id, value: @league.id, class: 'form-control'
      = f.select :team_id, options_for_select([[t('.no_team'), 0]].concat(get_teams_for_class(@league.class_id).where.not(id: @league.teams.map { |t| [t.id] }).map { |team| [team.name, team.id] }), selected: 0), {}, { class: 'form-control' }
      %span.input-group-btn
        = f.submit t('.add_league_team_btn'), class: 'btn btn-default'
