%p.league-bottom
  %span.nav.btn-group.btn-group-xs
    - if action.eql? :index
      = link_to t('.new_league'), new_league_path, class: 'btn btn-default', role: 'button'
    - else
      = link_to t('.league_index'), leagues_path, class: 'btn btn-default', role: 'button'
      - if action.eql? :edit
        = link_to t('.show_league'), @league, class: 'btn btn-default', role: 'button'
        = link_to t('.save_league'), '#', class: 'btn btn-default', role: 'button',onclick: "submit_form(event, 'edit_league_#{@league.id}')"
      - elsif action.eql? :new
        = link_to t('.create_league'), '#', class: 'btn btn-default', role: 'button', onclick: "submit_form(event, 'new_league')"
