- provide(:title, "#{t('leagues.title.leagues')}")

.leagues
  .leagues-form
    .table-responsive
      %table.table.table-hover.table-condensed
        - cur_years = nil
        - @leagues.each do |league|
          - if cur_years.nil? || !cur_years.eql?(year(league))
            - cur_years = year(league)
            %tr
              %th{colspan: 5}
                = cur_years
          %tr
            %td.row-league-name= link_to title(league), league
            %td.row-league-class= localized_football_classes[league.class_id]
            %td.row-league-show
              = link_to league do
                %span.glyphicon.glyphicon-expand
            %td.row-league-edit
              = link_to edit_league_path(league) do
                %span.glyphicon.glyphicon-edit
            %td.row-league-remove
              = link_to league, :method => :delete, :data => { confirm: t('.confirm') } do
                %span.glyphicon.glyphicon-remove

    %br

    = render 'nav', action: :index
