= simple_form_for @news do |f|
  .field
    = f.input :title, label: 'Titel', input_html: { style: 'width: 100%;' }
  %br
  .field
    = f.input :subtitle, label: 'Untertitel', input_html: { style: 'width: 100%;' }
  %br
  .field
    = f.input :abstract, as: :bootsy, label: 'Zusammenfassung', input_html: { style: 'width: 100%; height: 100px;' }
  %br
  .field
    = f.input :text, as: :bootsy, label: 'Nachricht', input_html: { style: 'width: 100%; height: 400px;' }
