%hr
%p.news-bottom
  %span.nav.btn-group.btn-group-xs
    = link_to 'Zurück zur Übersicht', news_index_path, class: 'btn btn-default', role: 'button'
    -if action.eql? :edit
      = link_to 'Nachricht Anzeigen', @news, class: 'btn btn-default', role: 'button'
      = link_to 'Nachricht Speichern', '#', class: 'btn btn-default', role: 'button',onclick: "event.preventDefault(); $(edit_news_#{@news.id}).submit();"
    -else
      = link_to 'Nachricht Erstellen', '#', class: 'btn btn-default', role: 'button',onclick: "event.preventDefault(); $(new_news).submit();"
  -if action.eql? :edit and @news.edit_count > 0
    %span.edit-info
      = "#{@news.edit_count} mal editiert. Zuletzt am #{get_local_datetime(@news.updated_at)} von"
      = link_to @news.editor.name, user_path(@news.editor)