- provide(:title, "#{t('.edit')} | #{@news.current_newstext.title.truncate(TITLE_TRUNC)} | #{t('.news')}")

.news
  .news-form
    = render 'form', action: :edit, title_text: "#{t '.edit'}: #{@news.current_newstext.title.truncate(TITLE_TRUNC)}"

    = render 'footer'
