- provide(:title, t('.news'))

.news
  .head
    = t '.news'
    .right
      = render 'nav', action: :index
  .news-index
    - if @news.empty?
      = render 'no_news'
    - else
      - @news.each_with_index do |news, i|
        - if i != 0
          %hr
        = render 'news_index', news: news
        = render 'tags/tags', tags: news.tag_list

%br

= paginate @news, left: 3, right: 3, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm custom-pagination'
