-provide(:title, 'Nachrichten')

.news-index
  -if permitted_to_create_news?
    %span.nav.btn-group.btn-group-xs
      = link_to 'Neue Nachricht', new_news_path, class: 'btn btn-default', role: 'button'
    %hr

  - @news.each_with_index do |news, i|
    -if i != 0
      %hr
    %p.title= link_to news.full_title, news
    -if !news.abstract.blank?
      %p.abstract= news.abstract.html_safe
    -else
      %p.abstract= news.text.truncate(250).html_safe

%br

= paginate @news, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-sm custom-pagination'
