-provide(:title, "#{@newstext.title.truncate(25)} | #{t('.news')}")
-flash_now_message :notice, t('news.flash.show.language') unless @news.is_available_in_current_lang

.news
  .head
    .span
      = link_to t('.news'), news_index_path
      = " » #{@news.current_newstext.title.truncate(TITLE_TRUNC)}"
      .right
        = render 'nav', action: :show
  .news-show
    %p.news-top
      -if @newstext.subtitle?
        %span.title= "#{@newstext.title}:"
        %span.subtitle= @newstext.subtitle
      -else
        %span.title= @newstext.title
      %br
      %span.author
        = t '.create_info_html', author: (news_author @news.author), datetime: l(@news.created_at, format: :long)
    %hr
    -if !@newstext.abstract.blank?
      %p.abstract= (handle_local_links @newstext.abstract).html_safe
    %p.text= (handle_local_links @newstext.text).html_safe

    %p= render 'tags/tags', tags: @news.tag_list

    = render 'footer'
