= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :givenname
    = f.text_field :givenname
  .field
    = f.label :birthday
    = f.datetime_select :birthday
  .field
    = f.label :picture
    = f.text_field :picture
  .field
    = f.label :positionid
    = f.number_field :positionid
  .field
    = f.label :legid
    = f.number_field :legid
  .actions
    = f.submit 'Save'
