= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :givenname
    = f.text_field :givenname
  .field
    = f.label :birthday
    = f.date_select :birthday
  .field
    = f.label :portrait
    = f.file_field :portrait
  .field
    = f.label :position
    = f.select :position, Player.positions.keys
  .field
    = f.label :leg
    = f.select :leg, Player.legs.keys
  .actions
    = f.submit 'Save'
