%table
  %tr
    %td{ rowspan: 4, style: 'width: 40%' }
      = image_tag @player.portrait.url(:medium)
    %td{ style: 'width: 60%' }
      = "#{@player.givenname} #{@player.surname}"
  %tr
    %td
      = l @player.birthday, format: :date
  %tr
    %td
      %b Position:
      = @player.position
  %tr
    %td
      %b Leg:
      = @player.leg

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
