%header
  %nav.navbar.navbar-inverse{role: "navigation"}
    .navbar-header
      %a.navbar-brand{href: root_path}
        %img{src: '/assets/crest.png', alt: 'Wappen VfB Oxstedt', height: '25'}
        VfB Oxstedt
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %ul.nav.navbar-nav
            -if is_admin?
              %li
                = link_to 'Administration', '/admin'
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = current_user.email
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Profil bearbeiten', edit_user_registration_path
                %li
                  = link_to 'Logout', '/logout', method: :delete
        -else
          %ul.nav.navbar-nav
            %li
              = link_to 'Sign up', new_user_registration_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Login
                %b.caret
              %ul.dropdown-menu
                %li
                  %div{style: 'padding: 5px'}
                    = form_for :user, url: session_path(:user) do |f|
                      %div
                        = f.label :email
                        %br/
                        = f.email_field :email, autofocus: true
                      %div
                        = f.label :password
                        %br/
                        = f.password_field :password, autocomplete: "off"
                      %br/
                      %div
                        = f.submit 'Log in'
                        - [:facebook, :google_oauth2, :twitter].each do |provider|
                          = link_to image_tag("login/#{provider}.png", size: '25x25'), omniauth_authorize_path('user', provider)
    .header-image
      %img{src: '/assets/field_aerial.jpg', alt: 'Luftaufnahme vom Sportplatz', width: '100%'}
      = render 'layouts/alerts'
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-2", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Startseite', root_path
        %li
          = link_to 'Nachrichten', news_index_path
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Verein
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: '/history'} Geschichte
            %li
              %a{href: '/management'} Vorstand
            %li
              %a{href: '/field'} Sportplatz
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Fu&szlig;ball
            %b.caret
          %ul.dropdown-menu
            - get_current_hometeams.each do |team|
              %li
                %a{href: "/teams/#{team.id}"}= team.name
            %li.divider
            %li
              = link_to 'alle Mannschaften', '/teams'
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Media
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to 'Galerie', '/gallery'
            %li
              = link_to 'Downloads', '/downloads'
            %li
              = link_to 'Tippspiel', '/bettinggame'
      %ul.nav.navbar-nav.navbar-right
        %form.navbar-form.navbar-left{role: "search"}
          .form-group
            %input.form-control{placeholder: "Suche", type: "text"}/
