!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=0.8"}
    %title= content_for?(:title) ? yield(:title) + ' - VfB Oxstedt v.1950 e.V.' : 'VfB Oxstedt v.1950 e.V.'
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Homepage des VfB Oxstedt v.1950 e.V.'}"}
    = favicon_link_tag 'crest.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'

    - if flash[:danger]
      .alert.alert-danger.alert-dismissable
        = flash[:danger].html_safe
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    - elsif flash[:warning]
      .alert.alert-warning.alert-dismissable
        = flash[:warning].html_safe
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    - elsif flash[:info]
      .alert.alert-info.alert-dismissable
        = flash[:info].html_safe
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    - elsif flash[:success]
      .alert.alert-success.alert-dismissable
        = flash[:success].html_safe
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;

    %main{role: 'main'}
      -if notice
        %p.alert.alert-success
          = notice
      -if alert
        %p.alert.alert-danger
          = alert
      = yield

    = render 'layouts/footer'
